::placeholder {
  color: darkslategrey;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  input {
    height: 36px;
    border: 1px solid #000;
    outline: none;
    padding: .3rem;
    border-radius: 4px;
    margin-right: 1rem;
    &:focus {
      border: 2px solid #c2185b;
    }
  }
}
