<main class="courses">
  <div class="container">
    <app-search-bar (onSearch)="handleSearch($event)"></app-search-bar>
    <div *ngIf="courses$ | async as courses; else empty">
      <course-item
        *ngFor="let course of courses | orderBy; trackBy: identify"
        [course]="course"
        (onDelete)="handleDelete(course.id)"
      ></course-item>
    </div>

    <button class="more_btn plate" (click)="handleLoadMore()">
      <a href="#">LOAD MORE</a>
    </button>
  </div>
</main>

<ng-template #empty>
  <div style="text-align: center">No data</div>
</ng-template>
