.course-item {
  margin-bottom: 1.5rem;

  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0.9rem;


  &.top-rated {
    background-color: lightskyblue;
  }

  // gap: 2rem;
  section {
    width: 75%;
  }

  .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 22px;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      span {
        display: flex;
        color: yellow;
      }
    }

    .info-group {
      display: flex;
      font-size: 14px;
      color: grey;
      gap: 0.5rem;

      span {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }
    }
  }

  .button-group {
    display: flex;
    gap: 0.5rem;

    button {
      font-size: 12px;
    }
  }
}
