.add-course {
  strong {
    font-size: 28px;
  }
  .centered-plate {
    width: 50%;
    gap: .5rem;
  }
  .short {
    width: max-content;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea {
      padding: .5rem;
      outline: none;
      border-radius: 5px;
      resize: none;

      &:focus {
        border: 1px solid #c2185b;
      }
    }
    .submit-row {
      display: flex;
      justify-content: end;
      gap: 1rem;
    }
  }
}
