<div class="container">
  <form class="login-form centered-plate" (submit)="onSubmit()">
    <div>
      <strong>Login</strong>
      <span class="wrong">*wrong password</span>
    </div>

    <label class="input-group">
      <p>
        <span>E-mail:</span>
        <span class="required">*required</span>
      </p>
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Enter your email address"
      />
    </label>

    <label class="input-group">
      <p>
        <span>Password:</span>
        <span class=required>*required</span>
      </p>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Enter your password"
      />
    </label>
    <div class="submit-row">
      <a href="#">Forgot Password?</a>
      <button type="submit" mat-flat-button color="primary">Login</button>
    </div>
  </form>
</div>

